.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  weight: 100%;
  gap: 2rem;
  background: linear-gradient(to bottom, #041834, #0A2E5B, #14437D);
}

.areaDownload {
  height: 500px;
  position: relative;
}

.infoArea {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 0;
  margin: 0;
  
  position: absolute;
  bottom: 80px;
  left: 40px;
  
}

.title {
  font-size: 3rem;
  font-weight: 500;
  color: #6BD1FF;
  margin-bottom: 1rem;
  width: 100%;

  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

.subTitle {
  font-size: 1.8rem;
  font-weight: 100;
  color: #fff;
  width: 100%;
}