.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  weight: 100%;
  gap: 2rem;
  padding: 1rem;
  background: linear-gradient(to bottom, #041834, #0A2E5B, #14437D);
}

.areaDownload {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 385px;
  position: relative;
  background: gray;
}

.imageMain {
  width: 100%;
  height: 100%;
}

.infoArea {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.title {
  font-size: 1.8rem;
  font-weight: 500;
  font-family: 'Chakra Petch', sans-serif;
  color: #6BD1FF;
  position: absolute;
  top: 8.5rem;
  left: 11.5rem;
  width: 100%;
  max-width: 430px;

  word-wrap: break-word;      /* IE 5.5-7 */
  white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
  white-space: pre-wrap;      /* current browsers */
}

.subTitle1 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #D7F9FF;
  width: 100%;
  position: absolute;
  bottom: 6.4rem;
  left: 17rem;
  filter: brightness(0.8);
}

.subTitle2 {
  font-size: 1.2rem;
  font-weight: 400;
  font-family: 'Inter', sans-serif;
  color: #D7F9FF;
  width: 100%;
  position: absolute;
  bottom: 4.4rem;
  left: 17rem;
  filter: brightness(0.8);
}

.person {
  width: 233px;
  height: 233px;
  position: absolute;
  bottom: 75px;
  right: 112px;
  border-bottom-right-radius: 8px;
  cursor: pointer;
}